:root {
  --bg_color: #d2d2d2;
  --color_blue: #3c80b4;
  --color_white: #fff;
  --color_black: #111;
  --color_gray: #343a40;

  --font_inter: "Inter", sans-serif;
  --font_saira: "Saira Extra Condensed", sans-serif;

  font-size: 62.5%;
}

body {
  font-family: var(--font_inter);
  background-color: var(--bg_color);
  color: var(--color_black);
}

/* SOCIAL */
.social-item ul {
  display: flex;
  justify-content: space-between;
  width: 14rem;
}

.social-item ul li {
  list-style: none;
  font-size: 3rem;
}

.social-item ul li a {
  color: var(--title-gray);
}

.social-item ul li a:hover {
  color: var(--primary-brown);
}

.resume-section {
  margin: 0 10rem;
}

.resume-section h1 {
  font-family: var(--font-saira);
  font-size: 10rem;
  line-height: 8.8rem;
  text-transform: uppercase;
  color: var(--title-gray);
  margin-top: 15rem;
}

.content h1 + div {
  margin-bottom: 10rem;
}

.content span {
  color: var(--primary-brown);
}

.resume-section h2 {
  font-family: var(--font-saira);
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--title-gray);
}

.main-description {
  font-family: var(--font-inter);
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-gray);
}

.box-banner {
  margin-bottom: 2rem;
}

.presentation {
  display: flex;
}

.profile {
  margin-right: 4rem;
}

.box-about {
  text-align: justify;
  line-height: 3.8rem;
}

.list-tool-item {
  display: flex;
  justify-content: left;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.list-tool-item li {
  margin-right: 2rem;
}

.list-tool-item li:hover {
  color: var(--primary-brown);
}

.list-check {
  font-size: 1.8rem;
}

.fa-check::after {
  content: "";
  margin-right: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
