.main-about {
  display: flex;
}

.main-about .avatar {
  padding: 4px;
  background-color: var(--color_blue);
  border-radius: 5px;
  margin-right: 2rem;
}

.main-about .presentation {
  font-family: var(--font_inter);
  font-size: 1.8rem;
  text-align: justify;
  line-height: 4rem;
}