.main-skills {
  display: flex;
  justify-content: space-between;
}

.main-list {
  color: var(--color_black);
}

.main-list h3 {
  font-family: var(--font_saira);
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.main-list .tools {
  display: flex;
  justify-content: space-around;
  font-size: 4rem;
}

.tools li {
  cursor: pointer;
}

.tools li:hover {
  color: var(--color_blue);
}

.workflow,
.softskills li {
  font-size: 1.6rem;
  cursor: pointer;
}

.workflow li:hover {
  color: var(--color_blue);
}

.softskills li:hover {
  color: var(--color_blue);
}
