.main-action {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 1.2rem;
  letter-spacing: 1px;
  color: var(--color_black);
}

.main-action:hover {
  color: var(--color_white);
}

