.main-button {
  display: inline-flex;
  justify-content: space-around;
  font-size: 4rem;
  color: var(--text-gray);
  transition: transform 200ms ease-in-out;
}

.main-button:hover {
  color: var(--primary-brown);
  transform: scale(1.2);
}